# Android build files
/build/
/app/build/

# Local configuration files
local.properties

# jks files
my-release-key.jks

# Quiz JSON files
app/src/main/assets/*.json

# wav files
app/src/main/res/raw/*.wav
